body{
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 14px;
	line-height: 16px;
	background-color: #fff;
	font-family:Open Sans, sans-serif;
}
table.table { border-collapse: collapse; width: 100%;}
table.table{background-color: #f3f7f9;}
/*table.table tr { border-bottom: 1px solid #ccc; }*/
/*table.table th, td { text-align: left; padding: 10px 5px; }*/
/*sh-style*/ table.table th, td { text-align: left; padding: 12px 15px; }
/*table.table tr:nth-child(even){ background: #f5f5f5; }*/
table.table tr:nth-child(even){background: rgba(0, 0, 0, 0.05);}
table.table tr.breaker,
table.table th { background-color: #364150; color: #fff; box-shadow: none; }
table.table tr.breaker td{ padding: 0; }
table.table tr.total{ background-color: #2e353e; color: #fff; }
table.table tr.total td { text-align: left; padding: 10px 15px; font-weight: 500; color: #fff; }


.sn-report-head{ background-color: #364150; padding: 10px 15px; text-align: center; }
.sn-report-head h1{ margin: 0; font-size: 20px; line-height: 23px; font-weight: 500; color: #fff; }
.sn-table-head{ overflow:hidden;  padding: 20px 15px; background-color: #f3f7f9; }
.print-logo{ float: left; width: 200px; }
.print-logo img{ max-width: 100%; display: block; height: auto; }
.print-time{ float: right; max-width: 450px; }
.print-time table.dark-th-table tr:last-child{ border: 0; background-color: #fff; }
.print-time table.dark-th-table th, td{ padding: 8px 10px; }


@page{
	margin:10px 20px;
	counter-increment: page;
	counter-reset: page 1;
}

@media print{
	a[href]:after { content: " (" attr(href) ")"; }
	a[href^="#"]:after,
	a[href^="javascript"]:after { content: ""; }

	body{
		color: #000;
		padding: 40px 0;
		font: 9pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
	}
	.sn-report-head h1{ color: #000; }
	table.table th, td { color: #000; }
	table.table tr.total td { color: #000; }
	table.table { border-collapse: collapse; width: 100%; background-color: #fff;}

}